__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.idea/
.venv/
venv/
env/
tome-env/
src/*.egg-info/

raw_jtd_wav_path
.~lock.*

data/processed/*/audio_24k_mono/
data/processed/*/features/
results/
wandb/
*.pt
*.pth
*.ckpt
*.wav
*.flac
*.mp3
*.m4a
*.aac
*.ogg
